.version.admission /* version checker */
{
	color: #0000FA;
	background-color: #05DAAE;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 558px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #071A25;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -17px;
	width: 0.01px;/* should not cover content below */
}

#u3933
{
	z-index: 43;
	height: 421px;
	background: transparent url("../images/enroll.jpg") no-repeat center center;
	background-size: cover;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u3933-bw
{
	z-index: 43;
	height: 421px;
}

#u3944
{
	z-index: 44;
	min-height: 481px;
	background-color: transparent;
}

#u3944_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1280px;
}

#pu3947-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 18px;
	margin-left: 152px;
}

#u3947-4
{
	z-index: 58;
	width: 391px;
	min-height: 28px;
	background-color: transparent;
	line-height: 25px;
	color: #D7CF65;
	font-size: 21px;
	font-weight: bold;
	position: relative;
}

#u3950-29
{
	z-index: 62;
	width: 597px;
	min-height: 307px;
	background-color: transparent;
	margin-top: 26px;
	position: relative;
}

#u3950-2,#u3950-4,#u3950-6,#u3950-8,#u3950-10,#u3950-12,#u3950-14,#u3950-16,#u3950-18,#u3950-20,#u3950-22,#u3950-24
{
	line-height: 28px;
	color: #EDFFE0;
}

#u3950-25,#u3950-26
{
	line-height: 28px;
}

#u3953-13
{
	z-index: 45;
	width: 366px;
	min-height: 108px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	left: 771px;
}

#u3953-2,#u3953-4,#u3953-6,#u3953-8,#u3953-10
{
	line-height: 27px;
}

#u3944-bw
{
	z-index: 44;
	min-height: 481px;
}

#u4558_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1280px;
	padding-top: 22px;
	padding-bottom: 5px;
}

#menuu8563
{
	z-index: 3;
	width: 616px;
	left: 332px;
	position: relative;
}

#u8564
{
	width: 204px;
	min-height: 27px;
	position: relative;
	margin-right: -10000px;
}

#u8565
{
	width: 204px;
	padding-bottom: 9px;
	position: relative;
}

#u8565:hover
{
	width: 204px;
	min-height: 0px;
	margin: 0px;
}

#u8568-4
{
	width: 204px;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u8565:hover #u8568-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#u8571
{
	width: 204px;
	min-height: 27px;
	position: relative;
	margin-right: -10000px;
	left: 206px;
}

#u8574
{
	width: 204px;
	padding-bottom: 9px;
	position: relative;
}

#u8565.MuseMenuActive,#u8574:hover
{
	width: 204px;
	min-height: 0px;
	margin: 0px;
}

#u8577-4
{
	width: 204px;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u8565.MuseMenuActive #u8568-4,#u8574:hover #u8577-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#u8578
{
	width: 204px;
	min-height: 27px;
	position: relative;
	margin-right: -10000px;
	left: 412px;
}

#u8579
{
	width: 204px;
	padding-bottom: 9px;
	position: relative;
}

#u8574.MuseMenuActive,#u8579:hover
{
	width: 204px;
	min-height: 0px;
	margin: 0px;
}

#u8579.MuseMenuActive
{
	width: 204px;
	min-height: 0px;
	margin: 0px;
}

#u8582-4
{
	width: 204px;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u8574.MuseMenuActive #u8577-4,#u8579:hover #u8582-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#u8579.MuseMenuActive #u8582-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#u8692
{
	z-index: 32;
	width: 455px;
	left: 413px;
	margin-top: 13px;
	position: relative;
}

#u8670
{
	z-index: 35;
	width: 139px;
	position: relative;
	margin-right: -10000px;
}

#u8662
{
	z-index: 33;
	width: 148px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 148px;
}

#u8677
{
	z-index: 37;
	width: 154px;
	position: relative;
	margin-right: -10000px;
	left: 301px;
}

#u8585-10
{
	z-index: 22;
	width: 336px;
	min-height: 50px;
	left: 471px;
	margin-top: 12px;
	position: relative;
}

#u4555-4
{
	z-index: 39;
	width: 336px;
	min-height: 25px;
	left: 471px;
	margin-top: 11px;
	position: relative;
}

#u4558,#u4558-bw
{
	z-index: 2;
	min-height: 226px;
}

.html
{
	background-color: #071A25;
}

body
{
	position: relative;
	min-width: 1280px;
}

