#u4125
{
	background: transparent url("../images/gbr2.jpg") no-repeat center center;
	background-size: cover;
}

#menuu4056
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u4071,#u4072
{
	background-color: transparent;
}

#u4073-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 18px;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Times, Times New Roman, Georgia, serif;
}

#u4072:hover #u4073-4 p
{
	color: #C6BA71;
	visibility: inherit;
}

#u4057,#u4060
{
	background-color: transparent;
}

#u4061-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 18px;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Times, Times New Roman, Georgia, serif;
}

#u4060:hover #u4061-4 p
{
	color: #C6BA71;
	visibility: inherit;
}

#u4064,#u4067
{
	background-color: transparent;
}

#u4070-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 18px;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	letter-spacing: 1px;
	font-family: Times, Times New Roman, Georgia, serif;
}

#u4067:hover #u4070-4 p
{
	color: #C6BA71;
	visibility: inherit;
}

#u4072.MuseMenuActive #u4073-4 p,#u4060.MuseMenuActive #u4061-4 p,#u4067.MuseMenuActive #u4070-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	letter-spacing: 1px;
	font-size: 15px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u4078-8
{
	background-color: transparent;
	text-align: center;
}

#u4078-2
{
	color: #D7CF65;
	font-weight: bold;
}

#u4078-4,#u4078-6
{
	color: #FFEDE6;
}


