#u4558
{
	background-color: #07080E;
}

#u8564,#u8565
{
	background-color: transparent;
}

#u8568-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 18px;
	text-align: center;
	font-size: 15px;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
}

#u8565:hover #u8568-4 p
{
	color: #C6BA71;
	visibility: inherit;
}

#u8571,#u8574
{
	background-color: transparent;
}

#u8577-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 18px;
	text-align: center;
	font-size: 15px;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
}

#u8574:hover #u8577-4 p
{
	color: #C6BA71;
	visibility: inherit;
}

#u8578,#u8579
{
	background-color: transparent;
}

#u8582-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 18px;
	text-align: center;
	font-size: 15px;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-family: Times, Times New Roman, Georgia, serif;
}

#u8579:hover #u8582-4 p
{
	color: #C6BA71;
	visibility: inherit;
}

#u8565.MuseMenuActive #u8568-4 p,#u8574.MuseMenuActive #u8577-4 p,#u8579.MuseMenuActive #u8582-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	letter-spacing: 1px;
	font-size: 15px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#menuu8563,#u8692
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u8670,#u8662,#u8677
{
	background-color: transparent;
}

#u8585-10
{
	background-color: transparent;
	text-align: center;
}

#u8585-2
{
	color: #D7CF65;
	font-weight: bold;
}

#u8585-4,#u8585-6,#u8585-8
{
	color: #FFEDE6;
}

#u4555-4
{
	background-color: transparent;
	line-height: 12px;
	text-align: center;
	font-size: 10px;
	color: #145669;
}


