.version.smk /* version checker */
{
	color: #0000FB;
	background-color: #278C4E;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 557.9999999999998px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #071A25;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -17px;
	width: 0.01px;/* should not cover content below */
}

#pslideshowu4986
{
	width: 0.01px;
}

#slideshowu4986
{
	z-index: 39;
	width: 0.01px;
	height: 457px;
	position: relative;
	margin-right: -10000px;
}

#u4993
{
	position: absolute;
	width: 1280px;
	height: 457px;
	background-color: transparent;
}

#u4993popup
{
	z-index: 40;
}

#u4996
{
	z-index: 41;
	width: 1280px;
	height: 457px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5105
{
	z-index: 43;
	width: 1280px;
	height: 457px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5125
{
	z-index: 45;
	width: 1280px;
	height: 457px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5011-4
{
	position: absolute;
	width: 10px;
	min-height: 50px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 50px;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 194px;
	left: 20px;
}

#u5011-4popup
{
	z-index: 47;
}

#u5009-4
{
	position: absolute;
	width: 10px;
	min-height: 50px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 50px;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 193px;
	left: 1230px;
}

#u5009-4popup
{
	z-index: 51;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u5145
{
	z-index: 55;
	min-height: 605px;
	background-color: transparent;
	padding-bottom: 31px;
}

#u5145_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1280px;
}

#ptab-panelu5148
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 47px;
	margin-left: 107px;
}

#tab-panelu5148
{
	z-index: 56;
	width: 461px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u5149
{
	z-index: 57;
	width: 461px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u5150
{
	z-index: 58;
	width: 154px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: #D7CF65;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u5150:hover
{
	background-color: #FFFFFF;
	width: 154px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u5153-4
{
	z-index: 59;
	width: 153px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	line-height: 20px;
	color: #000000;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 1px;
}

#u5150:hover #u5153-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 153px;
	margin: 0px -10000px 0px 0px;
}

#u5154
{
	z-index: 63;
	width: 154px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: #D7CF65;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	left: 153px;
}

#u5150.TabbedPanelsTabSelected,#u5154:hover
{
	background-color: #FFFFFF;
	width: 154px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u5156-4
{
	z-index: 64;
	width: 152px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	line-height: 20px;
	color: #000000;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 1px;
}

#u5154:hover #u5156-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 152px;
	margin: 0px -10000px 0px 0px;
}

#u5158
{
	z-index: 68;
	width: 155px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: #D7CF65;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	left: 306px;
}

#u5158:hover
{
	background-color: #FFFFFF;
	width: 155px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u5161-4
{
	z-index: 69;
	width: 153px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	line-height: 20px;
	color: #000000;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 1px;
}

#u5158:hover #u5161-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 153px;
	margin: 0px -10000px 0px 0px;
}

#u5162
{
	z-index: 73;
	width: 461px;
	background-color: transparent;
	position: relative;
}

#u5167
{
	z-index: 74;
	width: 461px;
	border-width: 0px;
	border-color: transparent;
	background-color: #0C5871;
	opacity: 0.63;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=63)";
	filter: alpha(opacity=63);
	padding-bottom: 11px;
	margin-right: -10000px;
	position: relative;
}

#u5168
{
	z-index: 81;
	width: 134px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 21px;
}

#u5170-6
{
	z-index: 75;
	width: 270px;
	min-height: 150px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 171px;
}

#u5171
{
	z-index: 83;
	width: 461px;
	border-width: 0px;
	border-color: transparent;
	background-color: #0C5871;
	opacity: 0.63;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=63)";
	filter: alpha(opacity=63);
	padding-bottom: 11px;
	margin-right: -10000px;
	position: relative;
}

#u5173
{
	z-index: 90;
	width: 139px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 18px;
}

#u5172-6
{
	z-index: 84;
	width: 270px;
	min-height: 150px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 171px;
}

#u5163
{
	z-index: 92;
	width: 461px;
	border-width: 0px;
	border-color: transparent;
	background-color: #0C5871;
	opacity: 0.63;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=63)";
	filter: alpha(opacity=63);
	padding-bottom: 11px;
	margin-right: -10000px;
	position: relative;
}

#u5165
{
	z-index: 99;
	width: 134px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 21px;
}

#u5164-6
{
	z-index: 93;
	width: 270px;
	min-height: 150px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 171px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.TabbedPanelsTab /* slideshowFreeStyle */
{
	cursor: pointer;
}

#tab-panelu5256
{
	z-index: 102;
	width: 461px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 63px;
	position: relative;
}

#u5257
{
	z-index: 103;
	width: 461px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u5266
{
	z-index: 104;
	width: 154px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: #D7CF65;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u5154.TabbedPanelsTabSelected,#u5266:hover
{
	background-color: #FFFFFF;
	width: 154px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u5269-4
{
	z-index: 105;
	width: 153px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	line-height: 20px;
	color: #000000;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 1px;
}

#u5266:hover #u5269-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 153px;
	margin: 0px -10000px 0px 0px;
}

#u5258
{
	z-index: 109;
	width: 154px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: #D7CF65;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	left: 153px;
}

#u5266.TabbedPanelsTabSelected,#u5258:hover
{
	background-color: #FFFFFF;
	width: 154px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u5258.TabbedPanelsTabSelected
{
	background-color: #FFFFFF;
	width: 154px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u5260-4
{
	z-index: 110;
	width: 152px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	line-height: 20px;
	color: #000000;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 3px;
	left: 1px;
}

#u5258:hover #u5260-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 152px;
	margin: 0px -10000px 0px 0px;
}

#u5154.TabbedPanelsTabSelected #u5156-4,#u5258.TabbedPanelsTabSelected #u5260-4
{
	border-width: 0px;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 152px;
	margin: 0px -10000px 0px 0px;
}

#u5262
{
	z-index: 114;
	width: 155px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: #D7CF65;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	left: 306px;
}

#u5158.TabbedPanelsTabSelected,#u5262:hover
{
	background-color: #FFFFFF;
	width: 155px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u5262.TabbedPanelsTabSelected
{
	background-color: #FFFFFF;
	width: 155px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u5263-4
{
	z-index: 115;
	width: 153px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	line-height: 20px;
	color: #000000;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 1px;
}

#u5262:hover #u5263-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 153px;
	margin: 0px -10000px 0px 0px;
}

#u5150.TabbedPanelsTabSelected #u5153-4,#u5158.TabbedPanelsTabSelected #u5161-4,#u5266.TabbedPanelsTabSelected #u5269-4,#u5262.TabbedPanelsTabSelected #u5263-4
{
	border-width: 0px;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 153px;
	margin: 0px -10000px 0px 0px;
}

#u5270
{
	z-index: 119;
	width: 461px;
	background-color: transparent;
	position: relative;
}

#u5271
{
	z-index: 120;
	width: 461px;
	border-width: 0px;
	border-color: transparent;
	background-color: #0C5871;
	opacity: 0.63;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=63)";
	filter: alpha(opacity=63);
	padding-bottom: 11px;
	margin-right: -10000px;
	position: relative;
}

#u5273
{
	z-index: 127;
	width: 134px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 21px;
}

#u5272-6
{
	z-index: 121;
	width: 270px;
	min-height: 150px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 171px;
}

#u5275
{
	z-index: 129;
	width: 461px;
	border-width: 0px;
	border-color: transparent;
	background-color: #0C5871;
	opacity: 0.63;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=63)";
	filter: alpha(opacity=63);
	padding-bottom: 11px;
	margin-right: -10000px;
	position: relative;
}

#u5276
{
	z-index: 136;
	width: 139px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 18px;
}

#u5278-6
{
	z-index: 130;
	width: 270px;
	min-height: 150px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 171px;
}

#u5170-2,#u5172-2,#u5272-2,#u5278-2
{
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
}

#u5170-4,#u5172-4,#u5272-4,#u5278-4
{
	line-height: 20px;
}

#u5279
{
	z-index: 138;
	width: 461px;
	border-width: 0px;
	border-color: transparent;
	background-color: #0C5871;
	opacity: 0.63;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=63)";
	filter: alpha(opacity=63);
	padding-bottom: 11px;
	margin-right: -10000px;
	position: relative;
}

#u5281
{
	z-index: 145;
	width: 134px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 21px;
}

#u5168_img,#u5173_img,#u5165_img,#u5273_img,#u5276_img,#u5281_img
{
	padding-right: 1px;
}

#u5280-6
{
	z-index: 139;
	width: 270px;
	min-height: 150px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 171px;
}

#u5164-2,#u5280-2
{
	font-size: 18px;
	line-height: 22px;
	color: #6B6B6B;
	font-weight: bold;
}

#u5164-4,#u5280-4
{
	line-height: 20px;
	color: #999999;
}

#u5248
{
	z-index: 101;
	width: 530px;
	height: 558px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	max-width: 2000px;
	min-width: 300px;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 655px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u5145-bw
{
	z-index: 55;
	min-height: 605px;
	margin-top: 457px;
}

#u5340
{
	z-index: 147;
	height: 419px;
	background: transparent url("../images/nurse.jpg") no-repeat center center;
	background-size: cover;
}

#u5340-bw
{
	z-index: 147;
	height: 419px;
}

#u4558_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1280px;
	padding-top: 22px;
	padding-bottom: 5px;
}

#menuu8563
{
	z-index: 3;
	width: 616px;
	left: 332px;
	position: relative;
}

#u8564
{
	width: 204px;
	min-height: 27px;
	position: relative;
	margin-right: -10000px;
}

#u8565
{
	width: 204px;
	padding-bottom: 9px;
	position: relative;
}

#u8565:hover
{
	width: 204px;
	min-height: 0px;
	margin: 0px;
}

#u8568-4
{
	width: 204px;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u8565:hover #u8568-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#u8571
{
	width: 204px;
	min-height: 27px;
	position: relative;
	margin-right: -10000px;
	left: 206px;
}

#u8574
{
	width: 204px;
	padding-bottom: 9px;
	position: relative;
}

#u8565.MuseMenuActive,#u8574:hover
{
	width: 204px;
	min-height: 0px;
	margin: 0px;
}

#u8577-4
{
	width: 204px;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u8565.MuseMenuActive #u8568-4,#u8574:hover #u8577-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#u8578
{
	width: 204px;
	min-height: 27px;
	position: relative;
	margin-right: -10000px;
	left: 412px;
}

#u8579
{
	width: 204px;
	padding-bottom: 9px;
	position: relative;
}

#u8574.MuseMenuActive,#u8579:hover
{
	width: 204px;
	min-height: 0px;
	margin: 0px;
}

#u8579.MuseMenuActive
{
	width: 204px;
	min-height: 0px;
	margin: 0px;
}

#u8582-4
{
	width: 204px;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u8574.MuseMenuActive #u8577-4,#u8579:hover #u8582-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#u8579.MuseMenuActive #u8582-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#u8692
{
	z-index: 32;
	width: 455px;
	left: 413px;
	margin-top: 13px;
	position: relative;
}

#u8670
{
	z-index: 35;
	width: 139px;
	position: relative;
	margin-right: -10000px;
}

#u8662
{
	z-index: 33;
	width: 148px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 148px;
}

#u8677
{
	z-index: 37;
	width: 154px;
	position: relative;
	margin-right: -10000px;
	left: 301px;
}

#u8585-10
{
	z-index: 22;
	width: 336px;
	min-height: 50px;
	left: 471px;
	margin-top: 12px;
	position: relative;
}

#u4555-4
{
	z-index: 148;
	width: 336px;
	min-height: 25px;
	left: 471px;
	margin-top: 11px;
	position: relative;
}

#u4558,#u4558-bw
{
	z-index: 2;
	min-height: 226px;
}

.html
{
	background-color: #071A25;
}

body
{
	position: relative;
	min-width: 1280px;
}

