.version.smp /* version checker */
{
	color: #0000E8;
	background-color: #D828EC;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 557.95px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #071A25;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -17px;
	width: 0.01px;/* should not cover content below */
}

#u3971
{
	z-index: 43;
	min-height: 350.61174496644287px;
	padding-bottom: 0px;
	background: transparent url("../images/gbr1.jpg") no-repeat center center;
	background-size: cover;
}

#u3971_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1280px;
	padding-top: 59px;
	padding-bottom: 12px;
}

#u3594
{
	z-index: 45;
	width: 344px;
	background-color: transparent;
	left: 107px;
	position: relative;
}

#u3604-4
{
	z-index: 47;
	width: 648px;
	min-height: 46px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	left: 107px;
	margin-top: 12px;
	position: relative;
}

#pu3962
{
	width: 0.01px;
	left: 107px;
	margin-top: 10px;
	position: relative;
}

#u3962
{
	z-index: 51;
	width: 134px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3959
{
	z-index: 52;
	width: 134px;
	background-color: #071A25;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
}

#u3956-4
{
	z-index: 53;
	width: 98px;
	min-height: 26px;
	background-color: transparent;
	line-height: 25px;
	color: #DAFFF6;
	font-size: 21px;
	text-align: center;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 18px;
}

#u3956-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 98px;
	margin: 2px -10000px 0px 0px;
}

#u4001
{
	z-index: 57;
	width: 134px;
	background-color: #071A25;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	left: 166px;
}

#u3959:hover,#u4001:hover
{
	background-color: #C1272D;
	width: 134px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4004-4
{
	z-index: 58;
	width: 94px;
	min-height: 21px;
	background-color: transparent;
	line-height: 25px;
	color: #EDEDED;
	font-size: 21px;
	text-align: center;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 22px;
}

#u4004-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 94px;
	margin: 2px -10000px 0px 0px;
}

#u3956-4:hover p,#u4004-4:hover p
{
	color: #D7CF65;
	visibility: inherit;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u3971-bw
{
	z-index: 43;
	min-height: 350.61174496644287px;
}

#u3591
{
	z-index: 44;
	min-height: 251px;
	background-color: #071A25;
	padding-bottom: 20px;
}

#pu3699-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 32px;
	margin-left: 107px;
}

#u3699-4
{
	z-index: 63;
	width: 362px;
	min-height: 39px;
	background-color: transparent;
	line-height: 28px;
	text-transform: none;
	font-size: 23px;
	color: #D7CF65;
	font-weight: bold;
	position: relative;
}

#u3702-4
{
	z-index: 67;
	width: 564px;
	min-height: 86px;
	background-color: transparent;
	color: #FFFFFF;
	margin-top: 25px;
	position: relative;
}

#u4579
{
	z-index: 62;
	width: 319px;
	height: 232px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 794px;
	background: transparent url("../images/download%20button-group%206.jpg") no-repeat left top;
	background-size: contain;
}

#u4579:hover
{
	width: 319px;
	height: 232px;
	min-height: 0px;
	margin: 19px -10000px 0px 0px;
	background: transparent url("../images/download%20button-group%206%20copy.jpg") no-repeat left top;
	background-size: contain;
}

#u3591-bw
{
	z-index: 44;
	min-height: 251px;
}

#u3708
{
	z-index: 71;
	min-height: 369px;
	background-color: #FFFFFF;
}

#u3591_align_to_page,#u3708_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1280px;
}

#u4561
{
	z-index: 72;
	width: 251px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 125px;
}

#pu3722-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 31px;
	margin-left: 390px;
}

#u3722-4
{
	z-index: 74;
	width: 302px;
	min-height: 25px;
	background-color: transparent;
	line-height: 28px;
	text-transform: none;
	font-size: 23px;
	font-weight: bold;
	margin-left: 4px;
	position: relative;
}

#u3801-11
{
	z-index: 78;
	width: 294px;
	min-height: 84px;
	background-color: transparent;
	margin-left: 4px;
	margin-top: 14px;
	position: relative;
}

#pu3804
{
	width: 0.01px;
	margin-top: 30px;
}

#u3804
{
	z-index: 89;
	width: 115px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3817-11
{
	z-index: 91;
	width: 246px;
	min-height: 84px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 129px;
}

#pu3836
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 49px;
	margin-left: 794px;
}

#u3836
{
	z-index: 116;
	width: 115px;
	background-color: transparent;
	position: relative;
}

#u3820
{
	z-index: 102;
	width: 115px;
	background-color: transparent;
	margin-top: 24px;
	position: relative;
}

#pu3848-12
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 73px;
	margin-left: 937px;
}

#u3848-12
{
	z-index: 118;
	width: 246px;
	min-height: 84px;
	background-color: transparent;
	position: relative;
}

#u3833-12
{
	z-index: 104;
	width: 246px;
	min-height: 84px;
	background-color: transparent;
	margin-top: 30px;
	position: relative;
}

#u3801-2,#u3817-2,#u3848-2,#u3833-2
{
	font-weight: bold;
}

#u3708-bw
{
	z-index: 71;
	min-height: 369px;
}

#u4558_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1280px;
	padding-top: 22px;
	padding-bottom: 5px;
}

#menuu8563
{
	z-index: 3;
	width: 616px;
	left: 332px;
	position: relative;
}

#u8564
{
	width: 204px;
	min-height: 27px;
	position: relative;
	margin-right: -10000px;
}

#u8565
{
	width: 204px;
	padding-bottom: 9px;
	position: relative;
}

#u8565:hover
{
	width: 204px;
	min-height: 0px;
	margin: 0px;
}

#u8568-4
{
	width: 204px;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u8565:hover #u8568-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#u8571
{
	width: 204px;
	min-height: 27px;
	position: relative;
	margin-right: -10000px;
	left: 206px;
}

#u8574
{
	width: 204px;
	padding-bottom: 9px;
	position: relative;
}

#u8565.MuseMenuActive,#u8574:hover
{
	width: 204px;
	min-height: 0px;
	margin: 0px;
}

#u8577-4
{
	width: 204px;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u8565.MuseMenuActive #u8568-4,#u8574:hover #u8577-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#u8578
{
	width: 204px;
	min-height: 27px;
	position: relative;
	margin-right: -10000px;
	left: 412px;
}

#u8579
{
	width: 204px;
	padding-bottom: 9px;
	position: relative;
}

#u8574.MuseMenuActive,#u8579:hover
{
	width: 204px;
	min-height: 0px;
	margin: 0px;
}

#u8579.MuseMenuActive
{
	width: 204px;
	min-height: 0px;
	margin: 0px;
}

#u8582-4
{
	width: 204px;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u8574.MuseMenuActive #u8577-4,#u8579:hover #u8582-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#u8579.MuseMenuActive #u8582-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 204px;
	margin: 0px -10000px 0px 0px;
}

#u8692
{
	z-index: 32;
	width: 455px;
	left: 413px;
	margin-top: 13px;
	position: relative;
}

#u8670
{
	z-index: 35;
	width: 139px;
	position: relative;
	margin-right: -10000px;
}

#u8662
{
	z-index: 33;
	width: 148px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 148px;
}

#u8677
{
	z-index: 37;
	width: 154px;
	position: relative;
	margin-right: -10000px;
	left: 301px;
}

#u8585-10
{
	z-index: 22;
	width: 336px;
	min-height: 50px;
	left: 471px;
	margin-top: 12px;
	position: relative;
}

#u4555-4
{
	z-index: 39;
	width: 336px;
	min-height: 25px;
	left: 471px;
	margin-top: 11px;
	position: relative;
}

#u4558,#u4558-bw
{
	z-index: 2;
	min-height: 226px;
}

.html
{
	background-color: #071A25;
}

body
{
	position: relative;
	min-width: 1280px;
}

